{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1>Error page</h1>

    <p>{{ exception.message }}</p>
{% endblock %}